################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rock-Paper-Scissors.WebApi/.vs
